html {
    font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // font-weight: normal;

    box-sizing: border-box;
}

body,
ul,
ol,
dl,
dd,
dir,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
hr,
figure {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}