@import "./fonts";
@import "./sidebar";

html {
    @include global-default-font;

    box-sizing: border-box;
}

// reset css
body,
ul,
ol,
dl,
dd,
dir,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
hr,
figure {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// remove list-style
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}